*{
    margin: 0;
    padding: 0;
    color: silver;
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    height: 100vh;
    background-color: #141b22;
    position: relative;
    overflow: hidden; /* Evita que los círculos se desborden */
}
.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1; /* Asegura que los círculos se apilen uno sobre otro */
    box-shadow: 0 0 1em silver;
}

nav{
    background-color:rgb(13, 27, 72);
    width: 100%;
    border: 2px solid black;
    border-radius: 50px 250px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
button{
    border-width: 2px;
    border-color: #172516;
    border-radius: 50px;
    height: 75px;
    width: 75px;
    font-size: 18px;
    font-family: monospace;
    background-color: rgb(13, 27, 72);
}
.button-mid:hover{
    cursor: pointer;
}
.full-contenido,.titulo-nav,.lista-articulos,.lista-preformato,.cantidad-seleccion,.precios-total,.stock{
    border: 1px solid silver;
    border-radius: 5px;
}
.botones:hover{
    box-shadow: 2px 2px silver;
    cursor: pointer;
}
#marca{
    font-family: Alfa Slab One;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 1px 1px 25px aqua;
}
#button-menu{
    border-radius: 50px 0px 0px 50px;
}
#button-inicio{
    border-radius: 0px 50px 50px 0px;
    margin-right: 3em;
    width: 120px;
}
#nombre-usuario{
    margin-left: 3em;
    width: 250px;
}
#container{
    display: grid;
    margin: auto;
    font-size: 25px;
    text-align: center;
    width: 90vh;
    max-width: 1200px;
}
.tablas{
    height: auto;
    width: 100vh;
    margin: 30px;
    padding: 15px;
    border: 2px solid silver;
    border-radius: 10px;
    color: black;
    background-color: rgb(12, 12, 12)
}
.table-head{
    width: 100vh;
    border: 1px solid silver;
    border-radius: 6px;
    padding: 3px;
}
.item-lista-tabla{
    border-bottom: 1px solid silver;
    border-radius: 10px;
    padding: 5px;
}
.item-lista-tabla:hover{
    background-color: silver;
    opacity: 50%;
    cursor: pointer;
}
#tabla1{
    margin-top: 150px;
}
button.button-mid{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.tag-mid{
    padding: 3px;
    text-shadow: 1px 1px 25px aqua;
}
.accesos{
    border: 10px solid silver;
    padding: 15px;
    width: 100%;
    background-color: rgb(12, 12, 12);
}
.accesos-superior{
    background-color: azure;
}
.images{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dotted rgb(151, 151, 151);
    opacity: 1;
}